
*.config
NK64Converter/.vs/NK64Converter/v16/.suo
NK64Converter/bin/.vs/bin/v16/.suo
*.sqlite
NK64Converter/bin/.vs/VSWorkspaceState.json
NK64Converter/Properties/launchSettings.json
*.cache
NK64Converter/obj/project.assets.json
NK64Converter/obj/NK64Converter.csproj.nuget.g.props
NK64Converter/obj/NK64Converter.csproj.nuget.g.targets
NK64Converter/obj/NK64Converter.csproj.nuget.dgspec.json
NK64Converter/bin/netcoreapp3.1/NK64Converter.runtimeconfig.dev.json
